<nav-template></nav-template>
<div class="jumbotron text-center">
	
	<div>
		<table id="example1" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
			      
			      <th class="head">Name</th>
			      <th class="head">Class</th>
		
   		 		</tr>
			</thead>
       	 <tbody>
           
      		<tr>
                
                <td ng-bind="userData.first"></td>
                <td ng-bind="userData.class1"></td>
                 
            </tr>
           
           
      
      	</tbody>
    </table>
		
	</div>
	
</div>